.nav-bg {
    background-color: #196C98;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: large;
}

.nav-img {
    width: 100px;
}

.nav-link {
    font-size: x-large;
}

#basic-nav-dropdown {
    color: #fff;
}

.btn-login {
    color: #174860;
    font-weight: bold;
    font-size: large;
    border: none;
}

.btn-login:hover {
    color: #fff;
    background-color: #174860;
    transition: 0.3s;
}

@media (min-width: 992px) {
    .btn-login {
        margin-left: 30vw;
    }
}
